* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", cursive;
  }
  
  body {
    background-color: #d4d4d4;
  }
  
  /* navbar */
  .nav-bar {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3rem;
    position: relative;
    z-index: 100;
  }
  
  header {
    width: 1200px;
    height: 80px;
    background-color: #731010;
    color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header a {
    color: #d4d4d4;
    text-decoration: none;
  }
  header a:active {
    color: #1f1f1f;
  }
  
  header a:hover {
    color: #1f1f1f;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
  
  header nav a {
    background-image: linear-gradient(#1f1f1f, #1f1f1f);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }
  
  a:hover,
  a:focus,
  a:active {
    background-size: 100% 0.1em;
    background-position-x: 0%;
  }
  
  .action {
    width: 20%;
    background-color: #1f1f1f;
    text-align: center;
    padding: 2rem;
  }
  
  .action a {
    color: #731010;
    text-decoration: none;
  }
  
  .action:hover {
    color: #731010;
    background-color: #d4d4d4;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    width: 20%;
  }
  
  .logo a img {
    padding: 1rem;
    width: 100%;
    min-width: 80px;
  }
  
  .navigation {
    width: 60%;
    padding: 10px;
  }
  
  /* Banner */
  
  .banner {
    width: 100%;
    height: 25rem;
    background-image: url("./assets/pictures/1984.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -2rem;
  }
  
  .banner_overlay h2 {
    color:#d4d4d4;
    text-align: center;
    font-size: 5rem;
    margin-left: 21%;
  }
  
  .banner_overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    color: white;
    width: 100%;
    height: 25rem;
  }
  


footer {
    text-align: center;
    color: #1f1f1f;
    justify-content: space-around;
    display: flex;
    padding: 15px;
    font-size: 15px;
  }

.text-plot-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 4% 10% 4% 10%;
}

.plot-image1 img,
.plot-image2 img {
    max-width: 100%; 
    height: auto; 
}

.plot-image1,
.plot-image2 {
    width: 28%; 
    box-sizing: border-box; 
    margin: 1%; 
}

.plot-info1 {
    flex: 1;
    width: 40%;
    margin-left: 2%; 
    font-size: 110%;
    line-height: 1.6;
}

h1 {
    text-align: center;
    font-family: Arial;
    font-size: 240%;
    font-weight: bold;
    margin-top: 2%;
}

.charactername {
    color: #731010;
    font-size: 120%;
}

@media screen and (max-width: 820px) {
  .plot-image1 img,
  .plot-image2 img {
    max-width: 100%; 
    height: auto; 
}

  .plot-image1,
  .plot-image2 {
    width: 48%; 
    box-sizing: border-box; 
    margin: 1%; 
}

.plot-info1 {
    flex: 1;
    width: 100%;
    margin-left: 2%; 
    font-size: 110%;
    line-height: 1.6;
}
}



.text-plot-bottom {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  text-align: right; 
}

.plot-info2 {
  flex: 1;
  font-size: 110%;
  line-height: 1.6;
}

.plot-image3 img {
  max-width: 100%;
  height: auto;
  width: 50%; 
  display: block;
  margin: 0 ;
}

.plot-image3 {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 30%; 
  margin: 0 20% 0 1%; 
}

@media screen and (max-width: 760px) {
  .logo a img {
    padding: 0px;
  }

  .action {
    display: none;
  }
  header {
    justify-content: space-around;
  }
}

@media screen and (max-width: 480px) {
header nav li {
  font-size: 12px;
}
.action {
  display: none;
}
#footer_left,
#footer_right {
  display: none;
}

}